.card-pic{
    font-size: 36px;
    text-align: center;
    border: 1px solid currentColor;
    border-radius: 20px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
}